.student-list-container {
  display: flex;
  justify-content: center;
  min-height: 20vh;
  max-height: auto;
}

.search-group{
  justify-content: center;
  align-items: center;
}

 .inner-container {
  display: block;
  justify-items: center;
  justify-content: center;
  align-items: center;
}
 
.search-container{
  margin: 30px 0px 15px 0px;
  display: flex;
  justify-content: center;
}

.search{
  width: 60vh;
  padding: 5px;
}

table, td, th{
  border: 1px solid;
}

table {
  width: 70%;
  border-collapse: collapse;
} 

th{
  min-width: 20vh;
  width: auto;
  justify-content: space-between;
}
