<app-nav-bar></app-nav-bar>

<div class="student-list-container">
  <div class="inner-container">
    <div class="search-container">
      <input id="search" class="search" type="text" placeholder="Search"/>
    </div>
    <div class="table-container"> 
      <table>
        <thead>
          <tr>
            <th>Student Code</th>
            <th>First Name</th>
            <th>Middle Name</th>
            <th>Last Name</th>
            <th>Gender</th>
            <th>Birth Date</th>
            <th>Registered By</th>
            <th>Date</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th>

            </th>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
