<app-nav-bar></app-nav-bar>

<div class="student-list-container">
  <div class="inner-container">
    <div class="search-group">
      <input id="search" class="search" type="text" />
    </div>
    <table>
      <thead>
        <tr>
          <th>Student Code</th>
          <th>First Name</th>
          <th>Middle Name</th>
          <th>Last Name</th>
          <th>Gender</th>
          <th>Birth Date</th>
          <th>Registered By</th>
          <th>Date</th>
        </tr>
      </thead>
    </table>
  </div>
</div>
