<div class="nav-container">
  <nav>
    <a (click)="onHome()"> 
      <span class="fa-solid fa-house"></span>Home
    </a>
    <a (click)="onStudentList()"> 
      <span class="fa-solid fa-person"></span>Student List </a>
    <a (click)="onCreate()"> 
      <span class="fa-solid fa-users"></span>Create New Student </a>
    <a (click)="onAccounts()"> 
      <span class="fa-solid fa-wrench"></span>Account Management </a>
    <a (click)="onLogOut()">
       <span class="fa-solid fa-right-from-bracket"></span>Log Out</a>
  </nav>
</div>

